<div class="container">
  <h3 id="title">Choose Your Shelter</h3>
  <div class="agm-map-container">
    <agm-map *ngIf="coords" [latitude]="coords[0]" [longitude]="coords[1]" [scrollwheel]="false" [zoom]="zoom">
      <agm-circle
          [latitude]="circleLat" 
          [longitude]="circleLng" 
          [radius]="30000"
          [fillColor]="'#1660ffc7'"
          [circleDraggable]="false"
          [editable]="false"> 
      </agm-circle>
      <agm-marker *ngIf="showGeolocation" [latitude]="coords[0]" [longitude]="coords[1]" [iconUrl]="{ url: 'assets/ts-map-pin.svg' }">
        <agm-info-window [isOpen]="true">
          <strong>You</strong>
        </agm-info-window>
      </agm-marker>
      <agm-marker *ngFor="let shelter of shelters; let i=index" [latitude]="shelters[i].latitude" [longitude]="shelters[i].longitude" (markerClick)="gmapsLocate(i)">
        <agm-info-window [isOpen]="this.showShelters == true" [disableAutoPan]="true" >
          <strong>{{shelters[i].shelterName}}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <div *ngIf="!error && shelters.length != 0" id="note">
    <p>Click on a shelter that you want to register for below. Note: for address information click on info button</p>
  </div>
<mat-nav-list>
    <mat-list-item *ngFor="let shelter of shelters; let i = index; last as last">
      <mat-icon id="icon-list" color="primary" (click)="openShelterInfoDialog(i)">info</mat-icon>
      <a matLine routerLink="/evacuee/add-group" (click)="setShelter(i)">
        <h4>{{shelter.shelterName}}</h4>
      </a>
      <mat-divider *ngIf="!last"></mat-divider>
   </mat-list-item>
</mat-nav-list>
<section id="mat-spinner" *ngIf="isLoadingResults">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</section>
<div *ngIf="error" id="note-error">
  <span class="warning"><mat-icon id="icon" color="warn">error</mat-icon> 
    Ooops... something went wrong. Please refresh the page or try again later
  </span>
</div>
</div>