<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="addressFormGroup" label="Your Info">
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <div>
      <mat-icon id="icon">person</mat-icon>
      <h3 id="evacueeFormTitle">Personal Info 
      </h3>       
    </div>
    <div id="note">
      <span>note: you are the responsible point of contact for your evacuee group. 
        Your email and physical address may be used for further communication.</span>
    </div>  
    <form [formGroup]="addressFormGroup">         
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput placeholder="Ex. John" formControlName="firstName" [maxLength]="50" required>
              <mat-error>Please enter your first name</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input matInput placeholder="Ex. Doe" formControlName="lastName" [maxLength]="50" required>
              <mat-error>Please enter your last name</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-form-field>
        <input matInput 
        type="number" 
        min="0" xr
        max="110"
        placeholder="Age" 
        formControlName="age"
        name="age" 
        maxlength="3" 
        required> 
        <mat-error> 
          Please enter your age
        </mat-error>
      </mat-form-field>
      <label>Gender: </label>
      <mat-radio-group formControlName="sex" aria-label="sex" required>
        <mat-radio-button class="radio-button" color="primary" value="M">Male</mat-radio-button>
        <mat-radio-button class="radio-button" color="primary" value="F">Female</mat-radio-button>
      </mat-radio-group>
        <section class="veteran-section">
          <mat-checkbox formControlName="veteran" color="primary">Veteran</mat-checkbox>
        </section>
        <section class="outofstate-section">
          <mat-checkbox formControlName="outofstate" color="primary">Out-of-state resident</mat-checkbox>
        </section>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="email@domain.com" formControlName="email" [maxLength]="50" required>
          <mat-error>Please enter a valid email address</mat-error>
        </mat-form-field> 
        <mat-form-field class="full-width">
          <mat-label>Phone</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input matInput type="number" 
          maxlength="10" 
          placeholder="813-123-4567" 
          formControlName="phone" 
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
        </mat-form-field>
      <div>
        <mat-icon id="icon">location_city</mat-icon>
        <h3 id="evacueeFormTitle">Physical Address</h3>        
      </div>
      <mat-form-field class="full-width">
          <mat-label>Street</mat-label>
          <textarea matInput placeholder="Ex. 4200 East Fowler Ave" formControlName="street" [maxLength]="50" required></textarea>
          <mat-error>Please enter your street address</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. Tampa" formControlName="city" [maxLength]="20" required>
          <mat-error>Please enter your city</mat-error>
      </mat-form-field>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>State</mat-label>
              <mat-select formControlName="state">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let state of states" [value]="state.value">{{state.name}}</mat-option>
              </mat-select>
              <mat-error>Please enter your state</mat-error> 
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Zip Code</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 33613" formControlName="zip" required>
              <mat-error>Please enter your zip code</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table> 
    </form>
    <div class="button">
      <button    
      *ngIf="!startGroupButtonHidden" 
      mat-flat-button 
      color="primary" 
      (click)="addMainEvacuee();this.openQuestionDialog();" 
      [disabled]="!addressFormGroup.valid">        
        NEXT
      </button>
    </div>
    <div class="button">
      <button 
      *ngIf="!updatePersonalInfoAddressButtonHidden" 
      mat-flat-button matTooltip="submit change" 
      (click)="updateMainEvacuee()" 
      color="primary" 
      [disabled]="!addressFormGroup.dirty || !addressFormGroup.valid" 
      matStepperNext>
      UPDATE
      </button>
    </div>
  </mat-step>
  <mat-step label="Group" [optional]="true"> 
    <div>
      <mat-icon id="icon">group</mat-icon>
      <h3 id="evacueeFormTitle">Evacuees ({{ evacueeCounter }}):</h3>
      <button id="go-back-icon" mat-icon-button matTooltip="go back" matStepperPrevious>
        <mat-icon color="primary">arrow_back</mat-icon>
      </button>
    </div>
    <div id="note">
      note: if you want to change address information, click on back arrow
    </div>
    <mat-nav-list>
      <mat-list-item>
        <a matLine>{{mainUserPlaceholder.firstName}} {{mainUserPlaceholder.lastName}} (you)</a>
      </mat-list-item>
      <mat-list-item  *ngFor="let evacuee of evacueeList | slice:1; let i = index;">
        <a matLine>{{evacuee.firstName}} {{ evacuee.lastName}}</a>
        <button *ngIf="!editButtonHidden" mat-icon-button matTooltip="edit evacuee" (click)="editEvacuee(i)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button *ngIf="!deleteButtonHidden" mat-icon-button matTooltip="delete evacuee" (click)="deleteEvacuee(i)">
          <mat-icon color="primary">delete</mat-icon>
        </button>  
      </mat-list-item>
    </mat-nav-list>
    <div id="note-review" *ngIf="evacueeList.length == 0">
      <mat-icon id="icon" color="warn">warning</mat-icon> 
      <span class="warning"> Please add at least one evacuee to your group. Click on back arrow button (top right corner) to edit </span>
    </div>
    <button *ngIf="!addFormButtonHidden" 
    id="add-new" 
    mat-flat-button 
    color="primary" 
    (click)="addFormButtonHidden = true;addFormHidden = false;
    saveButtonHidden = false;this.submitButtonHidden = true;">
      <mat-icon>add_circle</mat-icon>
      <span> ADD AN EVACUEE</span>
    </button>
    <div *ngIf="!addFormHidden && evacueeList.length != 0">
    <div *ngIf="!editTitle">
      <mat-icon id="icon">person_add</mat-icon>
      <h3 id="evacueeFormTitle">Add an Evacuee</h3>
    </div>
    <div *ngIf="editTitle">
      <mat-icon id="icon" color="primary">edit</mat-icon>
      <h3 id="evacueeFormTitle">
        Edit <span color="primary">{{evacuee.firstName}} {{evacuee.lastName}}</span>
      </h3>
    </div>
    <form id="evacueeInfoFormGroup" [formGroup]="evacueeInfoFormGroup">           
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>First name</mat-label>
              <input matInput placeholder="Ex. John" formControlName="firstName" [maxLength]="50" required>
              <mat-error>Please enter your first name</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <mat-label>Last name</mat-label>
              <input matInput placeholder="Ex. Doe" formControlName="lastName" [maxLength]="50" required>
              <mat-error>Please enter your last name</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <mat-form-field>
        <input matInput 
        type="number" 
        min="0" xr
        max="110"
        placeholder="Age" 
        formControlName="age" 
        name="age" 
        maxlength="3" 
        required> 
        <mat-error> 
          Please enter your age
        </mat-error>
      </mat-form-field>
      <label>Gender: </label>
      <mat-radio-group formControlName="sex" aria-label="sex">
        <mat-radio-button class="radio-button" color="primary" value="M">Male</mat-radio-button>
        <mat-radio-button class="radio-button" color="primary" value="F">Female</mat-radio-button>
      </mat-radio-group>
        <section class="veteran-section">
          <mat-checkbox formControlName="veteran" color="primary">Veteran</mat-checkbox>
        </section>
        <section class="outofstate-section">
          <mat-checkbox formControlName="outofstate" color="primary">Out-of-state resident</mat-checkbox>
        </section>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="email@domain.com" formControlName="email" [maxLength]="50">
          <mat-error>Please enter a valid email address or leave it blank</mat-error>
        </mat-form-field> 
        <mat-form-field class="full-width">
          <mat-label>Phone</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input matInput type="number" 
          maxlength="10" 
          placeholder="813-123-4567" 
          formControlName="phone" 
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
        </mat-form-field>
    </form>
  </div>
    <div class="button">
      <button 
      *ngIf="!cancelButtonHidden" 
      id="cancel-button" 
      mat-stroked-button 
      matTooltip="cancel edit" 
      (click)="editEvacueeCancel()">
        CANCEL
      </button>
      <button 
      *ngIf="!updateButtonHidden" 
      mat-flat-button 
      matTooltip="submit change" 
      (click)="updateEvacuee();" 
      color="primary" 
      [disabled]="!evacueeInfoFormGroup.valid">
        UPDATE
      </button>
    </div>
    <div class="button">
      <button 
      *ngIf="!saveButtonHidden" 
      id="cancel-button" 
      mat-stroked-button 
      matTooltip="cancel edit" 
      (click)="addFormCancel()">
        CANCEL
      </button>
      <button 
      *ngIf="!saveButtonHidden" 
      #submitButton 
      (click)="addToGroup();" 
      mat-flat-button 
      color="primary" 
      [disabled]="!evacueeInfoFormGroup.valid">
        ADD
      </button>
      <button 
      *ngIf="!submitButtonHidden" 
      id="save-group-button" 
      #submitButton 
      (click)="saveGroup();" 
      mat-flat-button color="primary" 
      [disabled]="evacueeList.length == 0" 
      matStepperNext>
        NEXT
      </button>
    </div>
  </mat-step>
  <mat-step><!--[optional]="false"-->
    <ng-template matStepLabel>
      Submit
    </ng-template>
    <mat-icon id="review-icon">rate_review</mat-icon>
    <h3 id="evacueeFormTitle">Review and submit</h3>
    <button id="go-back-icon" mat-icon-button matTooltip="go back" matStepperPrevious>
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <div>
      <p>Chosen shelter: <b>{{shelter.shelterName}}</b></p>
      <p *ngIf="address">Address you provided: <b>{{address.street}}, {{address.city}}, 
        {{address.state}} {{address.zip}}</b></p>
      <p [ngClass]="{warning: evacueeList.length == 0}">Total evacuees: <b>{{evacueeList.length}}</b></p>
    </div>
    <table *ngIf="evacueeList.length != 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> F. </th>
        <td mat-cell *matCellDef="let evacuee"><span class="mobile-label">First name:</span> {{evacuee.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> L. </th>
        <td mat-cell *matCellDef="let evacuee"><span class="mobile-label">Last name:</span> {{evacuee.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> A. </th>
        <td mat-cell *matCellDef="let evacuee"><span class="mobile-label">Age:</span> {{evacuee.age}} </td>
      </ng-container>
      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef> S. </th>
        <td mat-cell *matCellDef="let evacuee"><span class="mobile-label">Sex:</span> {{evacuee.sex}} </td>
      </ng-container>
      <ng-container matColumnDef="veteran">
        <th mat-header-cell *matHeaderCellDef> Vet. </th>
        <td mat-cell *matCellDef="let evacuee"><span class="mobile-label">Veteran:</span> {{evacuee.veteran}} </td>
      </ng-container>
      <ng-container matColumnDef="outofstate">
        <th mat-header-cell *matHeaderCellDef> Out. </th>
        <td mat-cell *matCellDef="let evacuee"><span class="mobile-label">Out-of-state:</span> {{evacuee.outofstate}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E. </th>
        <td mat-cell *matCellDef="let evacuee"><span class="mobile-label">Email:</span> {{evacuee.email}} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> P. </th>
        <td mat-cell *matCellDef="let evacuee"><span class="mobile-label">Phone:</span> {{evacuee.phone}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div id="note-review" *ngIf="evacueeList.length != 0" >
      If you want to change any information, please click on back arrow button (top right corner) to edit
    </div>
    <div id="note-review" *ngIf="evacueeList.length == 0" >
      <mat-icon id="icon" color="warn">warning</mat-icon> 
      <span class="warning"> Please add at least one evacuee to your group. Click on back arrow button (top right corner) to edit </span>
    </div>
    <div class="button">
      <button 
      id="submitGroupButton" 
      (click)="submitGroup()" 
      mat-flat-button 
      color="primary" 
      [disabled]="evacueeList.length == 0">
        SUBMIT GROUP
      </button>
    </div>
  </mat-step> 
</mat-horizontal-stepper>