.container {
    max-width:600px;
    margin:auto;
    margin-top: 30px;
    background-color: white;
} 

.container-card {
    max-width: 600px;
  }

#note {
    text-align: center;
}

.mat-card-title {
    text-align: center;
}

.mat-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    max-height: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.mat-card-actions {
    height: 45px;
    padding-right: 10px;
    text-align: right;
}