<mat-drawer-container class="container" autosize> 
  <div class="sidenav-content">
    <mat-toolbar color="primary" id="grad">
      <mat-toolbar-row>
        <span>Disaster Recovery Application</span>
        <span class="spacer"></span>
        <button mat-icon-button routerLink="">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button 
          (click)="openAboutDialog()" 
          mat-menu-item> 
            <mat-icon>info</mat-icon>
            <span>About Us</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>