.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container .mat-drawer {
    min-width: 200px; 
}

.container .mat-drawer .mat-button {
    display: block;
    width: 100%;
    text-align: left; 
}

.spacer {
    flex: 1 1 auto;
}

#grad {
    //background-image: linear-gradient(120deg, #3ccef3 0%, #66a6ff 100%);
    background-image: linear-gradient(120deg, #00a0fc 0%, #009efd 100%);
}