<h1 mat-dialog-title>
  <mat-icon id="icon">local_hospital</mat-icon>
  Health Check 
</h1>
<div mat-dialog-content>
  <p> Attention! {{evacuees[0].firstName}}, please tell us if someone from your 
    group has recently had Covid-19 symptoms as it is important to allocate isolated space for 
    potentially infected evacuees. <b>Note:</b> this just helps us to follow precautionary measures.
  </p>
  <!--
  <mat-selection-list color="primary">
    <mat-list-option *ngFor="let evacuee of evacuees">
      {{evacuee.firstName}} {{evacuee.lastName}}
    </mat-list-option>
  </mat-selection-list>
  -->

  <table mat-table [dataSource]="dataSource">
  
    <ng-container matColumnDef="evacuee">
      <th mat-header-cell *matHeaderCellDef> Evacuee</th>
      <td mat-cell *matCellDef="let evacuee"> {{evacuee.firstName | titlecase}} {{evacuee.lastName | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
</div>
<div mat-dialog-actions>
  <button 
  mat-stroked-button 
  #btnFocus=matButton
  [autofocus]="btnFocus.focus()"
  (click)="onNoClick()">
    Cancel
  </button>
  <button 
  mat-flat-button 
  #btnFocus=matButton
  [autofocus]="btnFocus.focus()"
  color="primary" 
  (click)="call()">
    Submit
  </button>
</div>