#icon {
    position: relative;
    top: 4px;
    left: 0px;
}

.mat-dialog-actions {
    float: right;
}

.wrapper {
    max-width: 800px;
    //margin: 50px auto;
    margin-top: -20px;
}
  
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-evacueeId {
  flex: none;
  width: 110px;
}

.mat-column-firstName {
  flex: none ;
  width: 120px;
}

.mat-column-lastName {
  flex: none;
  width: 170px;
}