<div class="registration">
  <mat-card class="registration-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Hillsborough County Evacuation</mat-card-title>
      <mat-card-subtitle>Built by Muma College of Business, University of South Florida</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://news.ucar.edu/sites/default/files/news/2014/400px-Hurricane_Mitch_1998_oct_26_2028Z-1.jpg" alt="Photo of a Hurricane">
    <mat-card-content>
      <p>
        Click on the register button to find a shelter in your area and register yourself and your group (family and friends).
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" routerLink="/evacuee">REGISTER</button>
    </mat-card-actions>
  </mat-card>
</div>