.registration {
    max-width:600px;
    margin:auto;
    margin-top: 30px;
    background-color: white;
} 

.registration-card {
    max-width: 600px;
  }

.header-image {
    background-image: url('./../../assets/1.jpg');
    background-size: cover;
}

#note {
    padding-left: 3%;
    padding-right: 3%;
}

.mat-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    max-height: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.mat-card-actions {
    height: 45px;
    padding-right: 10px;
    text-align: right;
}

@media screen and (max-width:600px) {
    .registration {
        max-width: 90%;
    } 
  }