@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto, Arial, sans-serif;
}

.example-tooltip {
    font-size: 90%;
    background: purple; 
}

.mat-tooltip {
    font-size: 70%
}